* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.color-accent {
  background: linear-gradient(101.12deg, #eb1484 27.35%, #c91cc3 99.99%, #c81cc5 100%, #c81cc5 100%);
}

textarea {
  resize: none;
}

.nav-tabs .nav-link.active {
  color: #DA18A3;
  font-weight: 600;
  border-bottom: 2px solid #DA18A3; 
}