.banner {
  min-height: 150px;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 0.5rem;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  text-shadow: 3px 5px 2px #474747;

  display: flex;
  align-items: center;
  justify-content: center;
}
.banner::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  left: -10%;
  top: -20%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.banner::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  right: -5%;
  bottom: -12%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
  .banner {
    max-width: 1000px;
    min-height: 300px;
    padding: 2rem;
  }
  .banner::after {
    bottom: -5%;
    right: -5%;
    width: 150px;
    height: 150px;
  }
  .banner::before {
    left: -5%;
    top: -5%;
    width: 150px;
    height: 150px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


